@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
  background-image: url("https://wallpapercave.com/wp/wp2821386.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Roboto Mono", Sans-serif;
  margin-top: 20%;
}

#header {
  text-align: center;
  color: white;
}

#c_text {
  text-align: center;
  color: white;
}

#menu_btn {
  margin-left: 45%;
  width: 10%;
}

#al {
  text-align: left;
  width: 537px;
  margin-left: 36%;
}

#list-item {
  align-self: center;
}

#c_purple {
  color: #3480eb;
}

#c_yellow {
  color: #0048ad;
  text-align: center;
}

#button_1 {
  text-align: left;
}

#btn_1 {
  width: 537px;
  height: 30px;
  margin-left: 36%;
  background-color: #ff99ff;
  border-radius: 5px;
  transition: 0.3s
}

#btn_1:hover {
  height: 40px;
  background-color: #cc00ff;
  font-size: 20px;
}


.button {
  background-color: #4CAF50; /* Green */
  margin-left: 36%;
  width: 537px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 1.5s;
  cursor: pointer;
}

.button3 {
  margin-left: 36%;
  width: 537px;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  margin-left: 36%;
  width: 537px;
  border-radius: 20px;
  background-color: #f44336;
  color: white;
}
