@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
  background-image: url("https://i.pinimg.com/originals/7a/7d/cf/7a7dcfa6474ec4cbfa81113eebe3c0dc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Roboto Mono", Sans-serif;
  margin-top: 20%;
}

#header {
  text-align: center;
}

#c_text {
  text-align: center;
  color: white;
}

#menu_btn {
  margin-left: 45%;
  width: 10%;
}

.button {
  margin-left: 45%;
  width: 10%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_1 {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button_1:hover {
  background-color: red;
  color: white;
  border-radius: 10px;
}

.tab {
  margin-left: 36%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ff3300;
  width: 537px;
  transition: 0.8s;
}

.tab:hover {
  border-radius: 10px;
}

.tab button {
  text-align: center;
  background-color: #ff0000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.8s;
  font-size: 17px;
}

.tab button:hover {
  border-radius: 10px;
  background-color: #ddd;
}

.tab button.active {
  background-color: #cc0000;
}

.tabcontent {
  background-color: #ff6666;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 513px;
  margin-left: 36%;
  transition: 0.5s;
}

.tabcontent:hover {
  border-radius: 10px;
}









#c_purple {
  color: #9933ff;
}

#c_yellow {
  color: yellow;
  text-align: center;
}
